<p>Hello</p>
<form action="/dashboard/" method="POST">
		<input  type="text" value="">
		<input type="submit" value="Search">
</form>
    <p><%= link_to("Logout", sessions_path, :method => :delete) %></p>


    <%# <% @movies.each_with_index do |movie, index|%>

