<p>Hello</p>
<% if @users.nil?%>
    <%redirect_to'/'%>
<%else%>
<form action="/dashboard/" method="POST">
		<input  type="text" value="">
		<input type="submit" value="Search">
</form>
    <p><%= link_to("Logout", sessions_path, :method => :delete) %></p>
<%end%>
    <%# <% @movies.each_with_index do |movie, index|%>

