
<form action="/search/results">
    Search Text:
    <input type="text" name="query"/>
    <input type="submit" value="Search"/>
</form>
<p><%= link_to("Logout", sessions_path, :method => :delete) %></p>

