
    <div class="navBar">
    <nav class="navbar navbar-light bg-light navBar">
    <a href="/search" class="navbar-brand" ><%= image_tag("newlogo.png", :class => "navbar-logo") %></a>
    <form class="form-inline" action="/search/results">
        <div class="input-search">
            <input class="form-control mr-sm-2" type="search" name="query" placeholder="Search" aria-label="Search">
            <input class="btn btn-outline-success my-2 my-sm-0 submit_button" value="Search" type="submit">
        </div>
    </form>
    <form action="/user/favourite">
    <input class="btn btn-outline-success my-2 my-sm-0 submit_button" value="watchlist" type="submit">
    <div class="logout-position">
    <button class="btn btn-primary logout_button" type="submit"><%= link_to("Logout", sessions_path, :method => :delete)%></button>
    </div>
    </nav>
    </form>
</div>

<div class="fav-movies-list">
    <div class="watchlist-title">
        <h1>Watchlist</h1>
    </div>
   <div class="movie_fav_main_container"> 
    <% @titles.each do |title| %>
        <h5><%= title %></h5>
        <form action = "/movie/<%= @movie_id %>/delete" method= "delete" value = "delete" >
        <input class="input-button" type="submit" value="delete"></form>
    <% end %>
    </div>
</div>

    <div class="card footer">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
</div>


