<div class="navBar">
    <nav class="navbar navbar-light bg-light navBar">
        <a href="/search" class="navbar-brand" ><%= image_tag("newlogo.png", :class => "navbar-logo") %></a>
        <form class="form-inline" action="/search/results">
            <div class="input-search">
                <input class="form-control mr-sm-2" type="search" name="query" placeholder="Search" aria-label="Search">
                <button class="submit_button"  type="submit"><i class="fas fa-search"></i></button>
   
            </div>
        </form>
        <form action="/user/favourite">
            <button class=" submit_button" value="Watchlist" type="submit"><i class="fas fa-star"></i> Watchlist</button>
        </form>
    </nav>
        <div class="logout-position">
            <button  class ="submit_button"><a class="logout_style"rel="nofollow" data-method="delete" href="/sessions"><i class="fas fa-sign-out-alt"></i></a></button>
        </div>  
</div>

<div class="fav-movies-list">
    <div class="watchlist-title">
        <h1>Watchlist</h1>
    </div>
   <div class="movie_fav_main_container"> 
    <% @titles.each do |title| %>
        <h5><%= title %></h5>
        <form action = "/movie/<%= @movie_id %>/delete" method= "delete" value = "delete" > 
            <button class="input-button delete-button" type="submit" value="delete">Delete</button>
        </form>
         <div>
            <hr class="line-under-show-movie home-line">
         </div>
    <% end %>
    </div>
</div>

    <div class="card footer">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
</div>


