/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";
.login-position{
    max-width: 100px;
    color: white;
    margin: 0 auto;
    display: block;
}
.login-form{
    background-image:linear-gradient(to right bottom ,rgb(29,29,50), rgb(61, 37, 64));;
    max-width: 350px;
    margin: 0 auto;
    padding: 50px;
    border:1px solid rgb(178, 71, 110); 
    color: white;
    border-radius: 20px;
}
.header{
    height: 95vh;
    background-image:linear-gradient(to right bottom ,rgb(29,29,50), rgb(61, 37, 64));
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100% );
}

.form-button {
    color: white;
    background:linear-gradient(to right bottom ,rgb(29,29,50), rgb(61, 37, 64));
    border:2px solid rgb(178, 71, 110);
    opacity: 1;
    width: 100%;
    height: 50px;
    border-radius: 3px;
}

.signUp-message{
    padding-top: 22px;
}

.sign-Up-Button-Position{
    margin-top: 10px;
}

.signUp-form{
    max-width: 350px;
    margin: 0 auto;
    padding: 50px;
    border:1px solid rgb(178, 71, 110); 
    color: white;
    border-radius: 20px;
}

.SignUp-message{
    // margin: 0 auto;
    color: white;
    margin-left:612px;
    margin-bottom: 20px;
}

.image-logo{
    margin-top: 40px;
    width: 300px;
}

.navbar-logo{
    max-width: 100px;
}
.navBar{
    background:linear-gradient(to right bottom ,rgb(29,29,50), rgb(61, 37, 64)); 
}
.logout_button{
    color: white;
    background:linear-gradient(to right bottom ,rgb(29,29,50), rgb(61, 37, 64));
    border:2px solid rgb(178, 71, 110);
}
.logout-position{
    float: left;
}

.submit_button{
    background:linear-gradient(to right bottom ,rgb(29,29,50), rgb(61, 37, 64));
    border:2px solid rgb(178, 71, 110);
    color: white;
}

.cards-align{
    display: flex;
    flex-direction: column;
}
.card-body{
    height: 600px;
}
.show-main-container{
    background:linear-gradient(to right top ,rgb(29,29,50), rgb(24, 0, 28)); 
}

.card-show-body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background:linear-gradient(to right top ,rgb(29,29,50), rgb(24, 0, 28)); 
   
}
.show-page-image{
    width: 25vw;
}

.show-page-main-content{ 
    float: right;
    padding-left: 5%;
    width: 50%;
    color: white;
}
.search-results-page-body{
    background:linear-gradient(to right top ,rgb(29,29,50), rgb(24, 0, 28)); 
}

.image-title-results-page{
    // display: block;
    width: 150px;
    height: 300px;
}
.main-body-container{
    display: inline-flex;
    flex-direction: column;
    // justify-items: center;
    justify-content: space-between;
    margin-left: 12%;
}
.search-page-header{
    margin: 0 auto;
    width: 100%;
    padding-bottom: 5%;
    color: white;
    padding-top: 3%;

}

.search-results-name{
    text-align: center;
}


.line-under-query{
    border-bottom:2px solid rgb(178, 71, 110);
    max-width: 15%;
    padding-top: 1%;
}

.footer{
    background:linear-gradient(to right bottom ,rgb(29,29,50), rgb(61, 37, 64)); 
}

.image-style{
    box-shadow: 2px 2px 20px 2px rgb(178, 71, 110);
    opacity: 0.6;
}
.image-style:hover{
    opacity: 1;
}
.search-result-title{
    text-align: left;
    text-decoration: none;
    color: white;
    padding-top: 5%;
    font-family: "Alegreya Sans", sans-serif
}

.movie-title-link{
    color: white;
}
.movie-title-link:hover{
    color: rgb(178, 71, 110);
}

.show-footer{
    height: 50vh;
}
.image-style-show-results-container{
    height: 94vh;
    background:linear-gradient(to right bottom ,rgb(29,29,50), rgb(61, 37, 64)); 
}
.card-size-position-show{
    color: white;
    margin: 0 auto;
    margin-top: 200px;
    background:linear-gradient(to right bottom ,rgb(29,29,50), rgb(61, 37, 64)); 
}
.above-image-show{
    color: white;
   text-align: center;
}

.line-under-show-movie{
    border-bottom:2px solid rgb(178, 71, 110);
    width: 50%;
}

.fav-movies-list{
    height: 94vh;
}